<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atmiņas spēle</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div class="ietvars"><!--pelekais laukums-->
        <div class="galviene"><!--virsraksts un izvēlne-->
            <h1>Atmiņas spēle</h1>
            <ul>
                <li><a href="index.html">Sākums</a></li>
                <li><a href="game.html">Spēle</a></li>
                <li><a href="top.html">Tops</a></li>
                <li><a href="about.html">Par</a></li>
            </ul>

        </div><!--aizver virsraksts un izvēlne-->
        <div class="saturs"><!--saturs-->
            <div class="hud">
                <p><b>Spēlētājs:</b> <span id="vardsHUD"></span></p>
                <p><b>Klikšķi:</b> <span id="klikski">0</span> &nbsp; | &nbsp;<b>Laiks:</b> <span id="laiks">00:00</span></p>

                <div class="bloks">
                    <div>😀</div>
                </div>
                <div class="bloks">
                    <div>🤣</div>
                </div>
                <div class="bloks">
                    <div>😇</div>
                </div>
                <div class="bloks">
                    <div>🥰</div>
                </div>
                <div class="bloks">
                    <div>😇</div>
                </div>
                <div class="bloks">
                    <div>😀</div>
                </div>
                <div class="bloks">
                    <div>🥳</div>
                </div>
                <div class="bloks">
                    <div>🤣</div>
                </div>
                <div class="bloks">
                    <div>😎</div>
                </div>
                <div class="bloks">
                    <div>🥳</div>
                </div>
                <div class="bloks">
                    <div>😎</div>
                </div>
                <div class="bloks">
                    <div>🥰</div>
                </div>

            </div><!--aizver speles laukums-->
        </div><!--aizver saturs-->

    </div><!--aizver pelekais laukums-->
    <script src="spele.js"></script>
    
</body>
</html> 