<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atmiņas spēle</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
    <div class="ietvars"><!--pelekais laukums-->
        <div class="galviene"><!--virsraksts un izvēlne-->
            <h1>Atmiņas spēle</h1>
            <ul>
                <li><a href="/">Sākums</a></li>
                <li><a href="/spele">Spēle</a></li>
                <li><a href="/tops">Tops</a></li>
                <li><a href="/par">Par</a></li>
            </ul>

        </div><!--aizver virsraksts un izvēlne-->
        <div class="saturs"><!--saturs-->
            <h3>Noteikumi</h3>
            <p> Ievadi savu vārdu un nospied pogu “Sākt spēli"
            Spēles mērķis ir atrast visus kartīšu pārus pēc iespējas ātrāk un ar mazāku gājienu skaitu.
            Klikšķini uz kartītēm, lai tās apgrieztu. Ja divas kartītes sakrīt, tās paliek atvērtas. Ja nesakrīt – tās apgriežas atpakaļ. Spēle beidzas, kad atrasti visi pāri. 
            Rezultātu nosaka gan pavadītais laiks, gan veikto gājienu skaits. Veiksmi!
         </p>
            <h3>Pieteikšanās informācija</h3>
            <label>Vārds:</label>
            <input id="vards">
            <button onclick="saktSpeli()">Sākt spēli</button>
        </div><!--aizver saturs-->

    </div><!--aizver pelekais laukums-->
    <script src="/static/sakums.js"></script>
    
</body>
</html>